/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/

@import url('./reset.css');

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #242424;
  background-color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

/* ========================= Form */

.form {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-top: 36px;
}

input {
  border-radius: 4px;
  font-family: 'Montserrat', sans-serif;
  width: 237px;
  height: 23px;
  font-size: 16px;
  border: 1px solid #808080;
  padding: 8px 16px;
  border-radius: 4px;
  background: #fff;
}

input::placeholder {
  font-size: 16px;
}
input:hover {
  border: 1px solid #000;
  outline: transparent;
}
input:focus {
  border: 1px solid #4e75ff;
  outline: transparent;
}

button {
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  line-height: 1.5;
  cursor: pointer;
  letter-spacing: 0.04em;
  border-radius: 8px;
  border: 1px solid #4e75ff;
  padding: 8px 16px;
  width: 91px;
  background: #4e75ff;
  color: #fff;
}

button:hover {
  background: #6c8cff;
}

/* ========================== /Form */

/* ========================== Loader */

.loader {
  width: 48px;
  height: 48px;
  border: 2px solid #808080;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}
.loader::after,
.loader::before {
  content: '';
  box-sizing: border-box;
  position: absolute;
  left: 0;
  top: 0;
  background: #4e75ff;
  width: 6px;
  height: 6px;
  border-radius: 50%;
}
.loader::before {
  left: auto;
  top: auto;
  right: 0;
  bottom: 0;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* ========================== /Loader */

/* ========================== Gallery */

.image-gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 32px;
  gap: 24px;
}

.gallery-item {
  border: 1px solid #808080;
}

.text-list {
  display: flex;
  justify-content: center;
  gap: 32px;
}

.image {
  width: 360px;
  height: 200px;
}

.text-list-title {
  margin-top: 4px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.3;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

.text-list-param {
  font-size: 12px;
  font-family: 'Montserrat', sans-serif;
  line-height: 2;
  letter-spacing: 0.04em;
  text-align: center;
  color: #2e2f42;
}

/* ========================== /Gallery */

/* ================== Load More Button */
.is-hidden {
  display: none;
}

.load-btn {
  margin-top: 32px;
  font-size: 15px;
  width: 125px;
}

/* ================== /Load More Button */

.gallery-section {
  text-align: center;
  margin-top: 32px;
}
